.header {
  width: 100%;
  height: 4rem;
  background: #fff;
}
.header .back {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  float: left;
  font-size: 2rem;
}
.header .my {
  width: calc(100% - 8rem);
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  float: left;
  font-size: 1.8rem;
}
.header .menu {
  position: relative;
  float: right;
  width: 4rem;
  line-height: 4rem;
  text-align: center;
  height: 4rem;
  font-size: 1.5rem;
}
